/DropBot/bin/
/.idea/
DropBot/obj/DropBot.csproj.nuget.g.targets
DropBot/obj/DropBot.csproj.nuget.g.props
DropBot/obj/DropBot.csproj.nuget.dgspec.json
DropBot/obj/DropBot.csproj.nuget.cache
DropBot/obj/Debug/netcoreapp3.1/DropBot.pdb
DropBot/obj/Debug/netcoreapp3.1/DropBot.GeneratedMSBuildEditorConfig.editorconfig
DropBot/obj/Debug/netcoreapp3.1/DropBot.exe
DropBot/obj/Debug/netcoreapp3.1/DropBot.dll
DropBot/obj/Debug/netcoreapp3.1/DropBot.csproj.FileListAbsolute.txt
DropBot/obj/Debug/netcoreapp3.1/DropBot.csproj.CopyComplete
DropBot/obj/Debug/netcoreapp3.1/DropBot.assets.cache
DropBot/obj/Debug/netcoreapp3.1/DropBot.AssemblyInfoInputs.cache
DropBot/obj/Debug/netcoreapp3.1/DropBot.AssemblyInfo.cs
DropBot/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
.vscode/tasks.json
.vscode/launch.json
DropBot/obj/project.assets.json
